.square {
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff; /* Borde blanco alrededor de las celdas */
  padding: 15px; /* Espaciado interno */
}


.barco {
  background-color: #155783;
  color: #e74c3c;
  font-weight: bold;
}

.hundido {
  background-color: #000;
  color: #e74c3c;
  font-weight: bold;
}

.container {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mensaje-maquina {
  color: #e74c3c;

  font-size: 30px;
}

.mensaje-jugador {
  color: #3498db;
  font-size: 30px;
}


@keyframes parpadeo {
  50% {
    color: transparent;
  }
  50% {
    background-color: white;
  }

}

.parpadeo {
  animation: parpadeo 1s infinite;
}
