<button (click)="iniciarJuego()">Iniciar Juego</button>
<div class="container-fluid d-flex flex-row justify-content-center mt-5 flex-wrap">
  <div *ngFor="let jugador of jugadores.slice().reverse()" class="col-lg-6">
    <div class="container p-4 bg-light rounded">
      <h3 class="text-center mb-4">Tablero de {{ jugador.nombre }}</h3>
      <div class="text-center mt-2" [id]="'mensajeTurno' + jugador.id" 
        [ngClass]="{'mensaje-jugador': jugador.nombre !== 'maquina' , 'mensaje-maquina': jugador.nombre === 'maquina'}">
        <div [innerHTML]="((jugador.nombre === 'maquina' && turno === jugador.nombre) ? 'Turno de la máquina' : '') + ((jugador.nombre !== 'maquina' && turno=== jugador.nombre) ? 'Tu Turno' : '') + '<br>'"></div>
      </div>
      <div class="row">
        <div class="col-1"></div> 
        <ng-container *ngFor="let letra of jugador.filas[0]; let i = index">
          <div class="col-1 p-3 text-center border square2">{{ getLetra(i) }}</div>
        </ng-container>S
      </div>
      <div *ngFor="let fila of jugador.filas; let i = index" class="row">
        <div class="col-1 p-3 text-center border square2">{{ i + 1 }}</div>
        <div *ngFor="let casilla of fila; let j = index" class="col-1 p-3 text-center border square"
          (click)="(turno === jugador.nombre && jugador.nombre !== 'maquina') ? realizarTurnoJugador(casilla, jugador) : null"
          [ngClass]="{'barco': (jugador.nombre === 'maquina' || casilla.disparado) && casilla.barco !== null}"
          [ngClass]="{'hundido':  casilla.hundido == true}">
          {{ casilla.disparado ? '●' : '' }}
        </div>
      </div>
    </div>
  </div>
</div>
