<div *ngIf="mostrarBoton">
  <button (click)="iniciarJuego()">Iniciar Juego</button>
</div>
<div *ngIf="!registrado">
  <div>
<!--    With GitHub: <a href="/oauth2/authorization/github">click here</a>-->
  </div>
  <div>
      With Google: <a href="/oauth2/authorization/google">click here</a>
      </div>

</div>
<div *ngIf="registrado">
  <button (click)="logOut()">Google</button>
</div>

<div *ngIf="partida">
  <div class="container-fluid d-flex flex-row justify-content-center mt-5 flex-wrap">

    <div *ngFor="let jugador of [partida.jugador2, partida.jugador1]" class="col-lg-6">
      <div class="container p-4 bg-light rounded">
        <h3 class="text-center mb-4">Tablero de {{ jugador.nombre }}</h3>
        <div class="text-center mt-2" [id]="'mensajeTurno' + jugador.id"
             [ngClass]="{'mensaje-jugador': esTurnoDelJugador(jugador)&& !esJugador1(jugador), 'mensaje-maquina': esTurnoDelJugador(jugador)&& esJugador1(jugador)}">
          <div [innerHTML]="obtenerMensajeTurno(jugador)"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <ng-container *ngFor="let letra of jugador.filas[0]; let i = index">
            <div class="col-1 p-3 text-center border square2">{{ i + 1 }}</div>
          </ng-container>
        </div>
        <div *ngFor="let fila of jugador.filas; let i = index" class="row">
          <div class="col-1 p-3 text-center border square2">{{ getLetra(i) }}</div>
          <div *ngFor="let casilla of fila; let j = index" class="col-1 p-3 text-center border square"
               (click)="(!parpadeo&&!juegoTerminado && esTurnoDelJugador(jugador) && !esJugador1(jugador) ? realizarTurnoJugador(casilla, jugador) : null)"
               [ngClass]="{
            'barco': (esJugador1(jugador) || casilla.disparado) && casilla.barco !== null,
            'hundido': casilla.hundido === true,
            'parpadeo': casilla.parpadeo
          }">
            {{ casilla.disparado ? '●' : '' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
